.about{


    &__picture{
       
        height: 250px;
        width:300px;
        margin:auto;
        background: url('../../img/profile-pic2.jpg');
        background-size: 350px;
        border-radius: 10px;
    }


}