.about{


    &__picture{
       
        height: 250px;
        width:300px;
        margin:auto;
        background: url('../../img/profile-pic2.jpg');
        background-size: 350px;
        border-radius: 10px;
    }

    &__skills{
        display: flex;

      ul{
          list-style: none;
      }

      li::before{
          content:'>';
          margin-right: .2rem;
      }
    }
}