.contact{
   
    &__links{
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
       
        a:hover{
           border-radius: .5rem; 
        }
    }

    &__item{
        padding: .5rem .5rem;
    }
}