// Colors

//primary
$darkBlue: hsl(210, 51%, 22%);
$lightBlue: hsl(234, 33%, 41%);

$limeGreen: hsl(136, 65%, 51%);
$lightCyan: hsl(186, 100%, 85%);

// Neutral
$grayishBlue: hsl(233, 8%, 62%);
$fc-primary: #ecedf1;
$fc-secondary:  hsl(205, 87%, 69%);
$fc-terciary: hsl(0,3%,65%);
$white: hsl(0, 0%, 100%);

// font sizes

$font-sm: 0.875rem; //14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem; //52px